/* styles/rotate.css */
.rotate-y-hover {
  display: inline-block;
  transform: rotateY(90deg);
  transition: transform 0.6s ease;
  backface-visibility: hidden;
}

.group:hover .rotate-y-hover {
  transform: rotateY(0deg);
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-right-animation {
  animation-name: fadeRight;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.image-zoom-hover {
  transition: transform 0.3s ease-in-out;
}

.image-zoom-hover:hover {
  transform: scale(1.05);
  cursor: pointer;
}
